<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit (ingredientAdded)="onIngridientAdded($event)"
      (ingredientCleared)="onIngredientCleared($event)">
  </app-shopping-edit>
    <hr>
    <ul class="list-group">
      <!--a href="#" class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
        {{ingredient.name}} ({{ingredient.amount}})
      </a-->
      <app-shopping-list-items 
        *ngFor="let ingredient of ingredients" 
        [ingredientItem]="ingredient">
      </app-shopping-list-items>
    </ul>
  </div>
</div>
